{% extends 'app/admin-pages/base_admin.html' %}
{% load static %}
{% block content %}
<div class="section-admin-schedule-page">
<h2>Staff Schedules</h2>
<table class="table">
    <thead>
        <tr>
            <th>Staff</th>
            <th>Day of the Week</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.staff }}</td>
            <td>{{ schedule.day_of_week }}</td>
            <td>{{ schedule.start_time }}</td>
            <td>{{ schedule.end_time }}</td>
            <td>
                <a href="{% url 'admin-staff-schedule-detail' schedule.pk %}">View</a> |
                <a href="{% url 'admin-staff-schedule-update' schedule.pk %}">Edit</a> |
                <a href="{% url 'admin-staff-schedule-delete' schedule.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'admin-staff-schedule-create' %}">Add New Schedule</a>
</div>
{% endblock %}
