{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/LOWGO_TRANSPARENT.ico' %}" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    {% include 'app/navbar.html' %}

    {% block content %}
            
    {% endblock %}

    <script src="{% static 'js/base.js' %}"></script>

    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</body>
</html>
