{% load static %}
<nav class="navbar">
    <!-- Logo Section -->
    <div class="navbar-logo">
        <a class="navbar-logo-link" href="{% url 'home' %}">
            <img src="{% static 'images/Skin_Clinic_Logo.png' %}" alt="Logo">
        </a>
    </div>

    <!-- Navbar Menu Items -->
    <div class="navbar-center">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>

    <!-- Right Section with Buttons -->
    <div class="navbar-right">
        <a href="{% url 'sign-in' %}" class="sign-in-btn">
            <img src="{% static 'images/Person-Icon.png' %}" alt="Sign In Icon" class="sign-in-icon">
            Sign In
        </a>
        <a href="{% url 'feedback' %}" class="feedback-btn">Give Us Feedback!</a>
    </div>
</nav>
