{% extends 'app/admin-pages/base_admin.html' %}
{% load static %}
{% block content %}
<div class="section-admin-medical-history-detail-page">
    <h1>Medical History for {{ medical_history.patient_record.patient }}</h1>
    <p><strong>Conditions:</strong> {{ medical_history.conditions.all|join:", " }}</p>
    <p><strong>Start Date:</strong> {{ medical_history.start_date }}</p>
    <p><strong>End Date:</strong> {{ medical_history.end_date|default:"Ongoing" }}</p>
    <a href="{% url 'admin-medical-history-update' medical_history.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'admin-medical-history-delete' medical_history.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'admin-medical-histories' %}" class="btn btn-secondary">Back to List</a>
</div>
{% endblock %}
